<div class="container">
  <h1>Recipe Box</h1>
  <!-- <h3>{{currentRecipe}}</h3> -->
  <ul>
    <li (click)="viewRecipe(currentRecipe)" *ngFor="let currentRecipe of recipes">
      <h4>{{currentRecipe.title}}</h4>
    </li>
  </ul>
  <div *ngIf="selectedRecipe">
    <h3>{{selectedRecipe.title}}</h3>
    <ul>
      <li *ngFor="let ingredient of selectedRecipe.ingredients">{{ingredient}}
      </li>
    </ul>
    <p>{{selectedRecipe.directions}}</p>
    <button (click)="editThisRecipe(selectedRecipe)">Edit!</button>
    <button (click)="finishedReviewing()">Done</button>
    <div *ngIf="editRecipe">
      <label>Enter New Title:</label>
      <input [(ngModel)]="selectedRecipe.title">
      <br>
      <label>Update directions:</label>
      <input [(ngModel)]="selectedRecipe.directions">
    </div>
  </div>
</div>
